/* boxy character row */

.boxyCharRow {
  display: flex;
}

.boxyCharRow__leftBtn {
  display: flex;
}

.boxyCharRow__leftBtn button {
  
}

/* boxy character image and eyes */

.boxyCharacter {
  position: relative;
  width: 30vw;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 400px;
  max-height: 400px;
}

.boxyCharacter__boxyEye {
  position: absolute;
  top: 48%;
  width: 23%;
  height: 25%;
  border: 1.2vw solid #3c1214;
  background-color: #ededed;
  border-radius: 50%;
  overflow: hidden;
}

.boxyCharacter__leftEye {
  left: 14%;
}

.boxyCharacter__rightEye {
  left: 47.5%;
}

.boxyCharacter__EyeBall {
  position: absolute;
  top: 24%;
  left: 30%;
  width: 53%;
  height: 54%;
  background-color: #3c1214;
  border-radius: 50%;
}

.boxyCharacter__EyeBall div {
  position: absolute;
  top: -2%;
  left: -6%;
  background-color: #fff;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  max-width: 20px;
  max-height: 20px;
}

@media screen and (min-width: 1024px) {
  .boxyCharacter__boxyEye {
    border: 10px solid #3c1214;
  }
}
